#Home {
  position: relative;
  width: 310px;
  height: 110px;
  /*opacity:.5;*/
  margin-left: auto;
  margin-right: auto;
  /*transform:scale(.9);*/
  background: lightgray;
}
.n_item {
  position: absolute;
}
.Logo {
  top: 25px;
  left: 61px;
  width: 190px;
  height: 30px;
}
.Buscador {
  top: 70px;
  left: 222px;
  width: 23px;
  height: 23px;
  z-index: 1;
}
.Buscador2 {
  top: 70px;
  left: 60px;
  width: 182px;
  height: 16px;
}
.Carrito {
  top: 68px;
  left: 271px;
  width: 25px;
  height: 25px;
}
.Barras {
  top: 72px;
  left: 15px;
  width: 25px;
  height: 25px;
}

.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border: 2px red solid;
  background-color: #fff;
  width: 310px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  gap: 0px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 3;
  height: min-content;
  border: #99f solid 3px;
}
.div2 {
  grid-area: 2 / 1 / 3 / 3;
  position: relative;
  top: -210px;
  border: yellow 3px solid;
  margin: 0;
  padding: 0;
  height: min-content;
}
.div3 {
  position: relative;
  top: -470px;
  grid-area: 1 / 1 / 2 / 3;
  margin: 0;
  padding: 0;
  height: min-content;
}
.div4 {
  grid-area: 3 / 2 / 4 / 3;
  height: 300px;
  position: relative;
  top: -470px;
  height: min-content;
}
.div5 {
  grid-area: 4 / 1 / 5 / 3;
  display: flex;
  border: green 3px solid;
  position: relative;
  top: -640px;
}
.div6 {
  grid-area: 5 / 1 / 6 / 3;
  border: cyan 3px solid;
  height: min-content;
  position: relative;
  top: -640px;
}
.div7 {
  grid-area: 6 / 1 / 7 / 3;
}
.div8 {
  grid-area: 6 / 1 / 7 / 3;
}

.productos-recomendados {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

.contenedor-productos {
  display: inline-block;
  white-space: nowrap;
}

.producto {
  display: inline-block;
  width: 200px;
  height: auto;
  background-color: #f2f2f2;
  margin: 10px;
  border-radius: 5px;
  text-align: center;
}

.nombre {
  margin-top: 10px;
  font-weight: bold;
}

.precio {
  margin-top: 5px;
  color: #666;
  font-size: 14px;
}

body {
  max-width: 37.5rem;
  margin: 0 auto;
  padding: 0 1.25rem;
  font-family: "Lato", sans-serif;
}

* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

.categorias {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  margin-left: 10px;
  margin-right: 10px;
}
.categoria {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: center;
}
.n_item {
  position: absolute;
}
