#Menu{
    position:relative;
    width: 310px;
    height: 650px;
    background:url();
    /*opacity:.5;*/
    margin-left:auto;
    margin-right:auto;
    /*transform:scale(.9);*/
  }
  #fondo{
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
    opacity:.5;
  }
  .n_item{
    position:absolute;
  }
  .Logo{
    top:30px;
    left:40px;
    width:60px;
    height:60px;
  }
  .n_t1{
   left:120px;
    bottom:570px;
  }
  .n_t2{
   left:120px;
    bottom:540px;
  }
  .Salir{
    position:absolute;
    bottom:580px;
    left:235px;
    }
  .Perfil{
    top:131px;
    left:64px;
    width:45px;
    height:55px;
  }
  .n_t3{
   left:67px;
    bottom:443px;
  }
  .Carrito{
    top:137px;
    left:130px;
    width:35px;
    height:35px;
  }
  .n_t4{
   left:127px;
    bottom:443px;
  }
  .Favoritos{
    top:139px;
    left:197px;
    width:35px;
    height:35px;
  }
  .n_t5{
   left:186px;
    bottom:443px;
  }
  .Cartera{
    top:200px;
    left:70px;
    width:35px;
    height:35px;
  }
  .n_t6{
   left:60px;
    bottom:383px;
  }
  .Terminos{
    top:200px;
    left:134px;
    width:35px;
    height:35px;
  }
  .n_t7{
   left:119px;
    bottom:383px;
  }
  .Soporte{
    top:199px;
    left:205px;
    width:20px;
    height:36px;
  }
  .n_t8{
   left:190px;
    bottom:383px;
  }
  .n_boton{
    bottom:348px;
    left:58px;
    width:186px;
    height:31px;
  }
  .n_boton2{
    bottom:312px;
    left:58px;
    width:186px;
    height:31px;
  }
  .n_boton3{
    bottom:275px;
    left:58px;
    width:186px;
    height:31px;
  }
  .n_boton4{
    bottom:240px;
    left:58px;
    width:186px;
    height:31px;
  }
  .n_boton5{
    bottom:205px;
    left:58px;
    width:186px;
    height:31px;
  }
  .n_boton6{
    bottom:170px;
    left:58px;
    width:186px;
    height:31px;
  }
  .n_boton7{
    bottom:135px;
    left:58px;
    width:186px;
    height:31px;
  }
  .n_boton8{
    bottom:100px;
    left:58px;
    width:186px;
    height:31px;
  }
  .n_boton9{
    bottom:65px;
    left:58px;
    width:186px;
    height:31px;
  }