#PagoRechazado{
    position:relative;
    width: 310px;
    height: 650px;
    background:url();
    /*opacity:.5;*/
    margin-left:auto;
    margin-right:auto;
    /*transform:scale(.9);*/
  }
  #fondo{
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
    opacity:.5;
    }
   .n_item{
    position:absolute;
  }
  .Logo{
    top:25px;
    left:86px;
    width:190px;
    height:30px;
  }
  .Buscador{
    top:70px;
    left:247px;
    width:23px;
    height:23px;
    z-index:1;
  }
  .Buscador2{
    top:70px;
    left:85px;
    width:182px;
    height:16px;
  }
  .Carrito{
    top:68px;
    left:296px;
    width:25px;
    height:25px;
  }
  .Barras{
    top:72px;
    left:39px;
    width:25px;
    height:25px;
  }
  .Imagen{
    top:170px;
    left:70px;
    width:225px;
    height:225px;
  }
  .n_t1{
   left:60px;
    bottom:214px;
    }
  .n_boton{
    bottom:144px;
    left:42px;
    width:130px;
    height:35px;
    border-radius:8px;
  }
  .n_boton2{
    bottom:144px;
    left:191px;
    width:130px;
    height:35px;
    border-radius:8px;
  }