#Home {
    position: relative;
    width: 310px;
    height: 110px;
    /*opacity:.5;*/
    margin-left: auto;
    margin-right: auto;
    /*transform:scale(.9);*/
    background: lightgray;
    
  }
  .n_item {
    position: absolute;
  }
  .Logo {
    top: 25px;
    left: 61px;
    width: 190px;
    height: 30px;
  }
  .Buscador {
    top: 70px;
    left: 222px;
    width: 23px;
    height: 23px;
    z-index: 1;
  }
  .Buscador2 {
    top: 70px;
    left: 60px;
    width: 182px;
    height: 16px;
  }
  .Carrito {
    top: 68px;
    left: 271px;
    width: 25px;
    height: 25px;
  }
  .Barras {
    top: 72px;
    left: 15px;
    width: 25px;
    height: 25px;
  }

  .parent{
    padding-top: 10px;
    display: grid;
    border: 2px red solid;
    
    width: 310px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    gap: 0px;
  }
  .imagenes{
    position: relative;
    left: 120px;
    top: 20px;
  }
  .infoProducto{

    border: yellowgreen 4px solid;
    height: 300px;
    display: flex;
    flex-direction: row;
  }
  .precioProducto{

    display: flex;
    flex-direction: column;
    border: red 2px solid;
   height: min-content;
  }
  .botones{
    
    display: flex;
    flex-direction: column;
    position: relative;
  top: 85%;
  left: 50%;
  width: 120px;
  height: 100px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
   
 
    
  
  .center {
    position: relative;
    top: 50%;
    left: 60%;
    transform: translate(-50%,-50%);
  }
  
  .container {
      display: flex;
      border: 2px solid #404040;
      background: gray;
      border-radius:5rem;
      width:60px;
      padding:0.8rem;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      height:5px;
      position: absolute;
      top: 30px;
  }
  
  h4 {
      margin: 0;
      padding: 0;
      user-select: none;
  }
  
  .col-1 {
      width: 45%;
  }
  
  .col-2 {
      width: 25%;
  }
  
  .col > button, .number {
      width: 100%;
      background: gray;
      border: 0px;
      text-align: center;
  }
  
  .button {
      font-family: sans-serif;
      font-size: 2em;
  }
  
  button {
      color: white;
      user-select: none;
      outline: none;
  }
  .botonCarrito{
    background-color: #404040;
    position: relative;
    top: 50px;

  }
  .descripcionProducto{
    
    position: absolute;
    top: 480px;
    width: 310px;
  }